@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar personalizado */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #252837;
    border-radius: 9999px;
}
